
  .logo, .menu {
    display: inline-block;
  }
  .header {
    margin: 0 auto;
    padding: 86px 0;
    width: 88%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
  }
  .logo {
    margin-left: 84px;
    width: 150px;
    height: 57px;
    background: url('img/logo.svg') no-repeat;
  }
  .menu {
    width: 503px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu__item {
    position: relative;
    margin-right: 26px;
    font: 22px/28px Museo Sans Cyrl, arial, helvetica,sans-serif;
    color: #fff;
    text-decoration: none;
  }
  .menu__item:last-child {
    margin-right:0;
  }